.description {
  background-color: $section-background;
  margin-top: 30px;

  @include shadow;

  &--first {
    margin-top: 0;
  }
}

.description--reversed {
  .description__slider-wrapper {
    order: 2;
  }

  .description__content {
    order: 1;
  }
}

.description__wrapper {
  display: flex;
}

.description__slider-wrapper {
  flex: 2;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.description__slider {
  overflow: hidden;
  height: 0;
  width: 100%;
  padding-top: 56.25%;
  background-color: #444444;

  background-image: url("../img/example.jpg");
  background-size: cover;
}

.description__content {
  flex: 1;
  align-self: center;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 50px;
}

.description__heading {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.description__subheading {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}

.description__text {
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  margin-top: 20px;
}

.description__more {
  text-decoration: none;
  color: #ffffff;

  margin-top: 20px;
  padding: 10px 20px 10px 20px;
  background-color: $button-background;
  border-radius: 39px;


  transition: box-shadow 0.5s;
  transition: opacity 0.5s;

  &:hover,
  &:focus {
    outline: none;

    @include shadow;
  }

  &:active {
    transition: opacity 0.5s;
    opacity: 0.7;
  }
}

@media (max-width: $tablet-breakpoint) {
  .description__wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .description--reversed {
    .description__slider-wrapper {
      order: 1;
    }

    .description__content {
      order: 2;
    }
  }

  .description__content {
    @include text-padding-mobile;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}
