.directions__heading {
  text-align: center;

  font-size: 30px;
  margin-top: 70px;
}

.directions__description {
  margin-top: 25px;
  font-size: 20px;
  text-align: justify;
  font-weight: 400;
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

.directions__img-wrapper {
  position: relative;
  margin-top: 25px;
  width: 100%;
  max-width: 800px;
  height: 0;
  padding-top: 52%;

  margin: 0 auto;
}

.directions__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: $tablet-breakpoint) {
  .directions__heading,
  .directions__description {
    @include text-padding-mobile;
  }
}


@media (max-width: $small-tablet-breakpoint) {
  .directions__img-wrapper {
    max-width: none;

    position: relative;
    margin-top: 25px;
    width: 100%;
    height: 0;
    padding-top: 136%;
  }

  .directions__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
