.examples__heading {
  text-align: center;

  margin-top: 50px;

  font-size: 45px;
  font-weight: 700;
}

.examples__slider {
  margin-top: 25px;

  width: 100%;
  height: 533px;

  background-color: #444444;
}
