.examples__heading {
  text-align: center;

  margin-top: 50px;

  font-size: 45px;
  font-weight: 700;
}

.examples__slider-wrapper {
  margin-top: 25px;

  width: 100%;
}

@media (max-width: $tablet-breakpoint) {
  .examples {
    display: flex;
    flex-direction: column;
  }

  .examples__heading {
    font-size: 30px;
  }
}
