.footer {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $footer-background;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__contacts {
  flex: 1;
}

.footer__information {
  flex: 2;
}

.footer__menu {
  flex: 1;
}

@media (max-width: $tablet-breakpoint) {
  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer__contacts {
    order: 1;
  }

  .footer__menu {
    margin-top: 20px;
    order: 2;
  }

  .footer__information {
    margin-top: 20px;
    order: 3;
  }
}
