.header {
  @include shadow;

  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  min-height: 100px;
}

.header--detached {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  width: 340px;
  height: 76px;

  background-color: #333333;
}

@media (max-width: $tablet-breakpoint) {
  .header__wrapper {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}
