.header {
  @include shadow;

  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  min-height: 100px;
}

.header--detached {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 76px;
  display: flex;
  align-items: center;
}

@media (max-width: $tablet-breakpoint) {
  .header__wrapper {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
  }

  .header__logo {
    max-width: 300px;
  }

  .header__navigation {
    display: none;
  }

  .header__contacts {
    display: none;
  }
}
