.header {
  @include shadow;

  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  min-height: 100px;
  position: relative;
  z-index: 250;

  padding-top: 10px;
}

.header--detached {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 250;
}

.header__button {
  display: none;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 76px;
  display: flex;
  align-items: center;
}

@media (max-width: $tablet-breakpoint) {
  .header__wrapper {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
  }

  .header__logo {
    max-width: 300px;
  }

  .header__navigation {
    display: none;
  }

  .header__contacts {
    display: none;
  }

  .header__button {
    border: none;
    background: none;
    display: block;

    width: 30px;
    height: 30px;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -25px;

    border-top: 30px solid $button-background;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;

    &--close {
      transform: rotate(180deg);
      margin-top: -30px;
    }

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .header--open {

    display: flex;
    flex-direction: column;

    animation-name: heightIncrease;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    .header__navigation {
      opacity: 0;
      animation-name: appear;
      animation-delay: 0.5s;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;

      display: block;
      padding-top: 100px;

      .navigation__list {
        padding-left: 0;
        flex-direction: column;
        align-items: center;
      }
    }

    .header__contacts {
      opacity: 0;
      animation-name: appear;
      animation-delay: 0.5s;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      display: flex;
      margin-bottom: 50px;
    }
  }

  .header--close {
    display: flex;
    flex-direction: column;

    height: 100vh;
    animation-name: heightDecrease;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    .header__navigation {
      animation-name: disappear;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;

      display: block;
      padding-top: 100px;

      .navigation__list {
        padding-left: 0;
        flex-direction: column;
        align-items: center;
      }
    }

    .header__contacts {
      animation-name: disappear;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;

      display: flex;
      margin-bottom: 50px;
    }
  }

  .navigation__item {
    margin-left: 0;

    a {
      font-size: 30px;
    }
  }
}

@keyframes heightIncrease {
  from {
    height: 100px;
  }
  to {
    height: 100vh;
  }
}

@keyframes heightDecrease {
  from {
    height: 100vh;
  }
  to {
    height: 100px;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
