.information {
  display: flex;
  flex-direction: column;
}

.information__logo,
.information__address {
  text-decoration: none;

  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #ebebeb;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: 10px;
  }
}

.information__address {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #ebebeb;
}

.information__copyright {
  margin-top: 20px;
  font-size: 10px;
  font-weight: 400;
  color: #ebebeb;
  text-align: center;
  text-decoration: none;
}

@media (max-width: $tablet-breakpoint) {
  .information__logo {
    display: none;
  }

  .information__address {
    margin-top: 0;
    @include text-padding-mobile;
  }


}
