.information {
  display: flex;
  flex-direction: column;
}

.information a {
  text-decoration: none;

  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #ebebeb;

  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    margin-right: 10px;
  }
}

.information__address {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #ebebeb;
}

.information__copyright {
  margin-top: 20px;
  font-size: 10px;
  font-weight: 400;
  color: #ebebeb;
}
