.navigation {
  flex: 1;

  display: flex;
  align-items: center;

  &--footer {
    align-items: baseline;

    .navigation__item a {
      font-size: 20px;
      font-weight: 400;
      color: #ebebeb;
    }
  }
}

.navigation__list {
  list-style: none;
  padding-left: 50px;

  display: flex;

  &--footer {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;
    margin-right: 0;

    .navigation__item {
      margin-left: 0;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }
}

.navigation__item a {
  text-decoration: none;
  color: #151924;

  font-size: 20px;
  font-weight: 400;

  transition: opacity 0.5s;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.navigation__item {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 50px;

  &--active {
    a {
      font-weight: 600;
    }
  }
}

@media (max-width: $tablet-breakpoint) {
  .navigation__list {
    &--footer {
      flex-direction: column;
      align-items: center;

      .navigation__item {
        &:not(:first-child) {
          margin-top: 10px;
        }
      }
    }
  }
}
