.promo__img {
  margin-top: 50px;
  width: 100%;
  height: 335px;

  object-fit: cover;
  background-color: #444444;
}

.promo__description {
  text-align: center;

  max-width: 500px;

  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 18px;
}
