.promo__img {
  margin-top: 50px;
  width: 100%;
  height: 335px;

  object-fit: cover;
  background-color: #444444;
}

.promo__heading {
  font-size: 35px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

.promo__description {
  text-align: center;

  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;

  min-width: 75%;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: $tablet-breakpoint) {
  .promo__heading,
  .promo__description {
    @include text-padding-mobile;
  }

  .promo__description {
    margin-bottom: 20px;
  }
}
