@mixin reset {
  padding: 0;
  margin: 0;
}

@mixin shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

@mixin shadow-hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

@mixin shadow-active {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

@mixin text-padding-mobile {
  padding-right: 20px;
  padding-left: 20px;
}

@mixin shadow-card-hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

@mixin shadow-card-active {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
