$big-phone-breakpoint: 649px;
$small-tablet-breakpoint: 900px;
$tablet-breakpoint: 1200px;
$phone-breakpoint: 320px;

$retina-dppx: 144dpi;
$retina-dpi: 1.5dppx;

$section-background: #EDEDED;
$button-background: #73706C;
$footer-background: #73706C;
